.container {
    display: flex;
    gap: 24px;
    padding: 20px;
  }
  
  .main-content {
    flex: 1;
  }

  .filter-field {
    width: 100%;
    margin-bottom: 0px;
  }

  .filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .filter-label {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
  }
  
  .buttons-container {
    display: flex;
    gap: 10px;
  }
  
  
  
  
  .details-panel {
    width: 300px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  
  .details-panel form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .button-group {
    display: flex;
    gap: 8px;
    justify-content: flex-end;
    margin-top: 16px;
  }

  .pagination {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 16px;
    padding: 16px;
  }
  
  .pagination button.active {
    background-color: #e0e0e0;
  }
  
  .pagination-info {
    margin-left: auto;
    color: rgba(0, 0, 0, 0.54);
  }

  app-trainee-table {
    flex: 1;
    overflow: auto;
  }